.side-bar-wraper {
  background-color: rgba(207, 93, 93, 0.521);
  width: 18rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.side-bar {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgb(1, 41, 87);
  cursor: pointer;
}

.title:hover {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.active {
  position: relative;
  bottom: 0.17rem;
  left: 0.2rem;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid;
}

.non-active {
  color: rgb(221, 221, 221);
  font-weight: bold;
  position: relative;
  bottom: 0.24rem;
}

.active-logo {
  color: rgb(255, 255, 255);
}

.non-active-logo {
  color: rgb(221, 221, 221);
}

@media only screen and (max-width: 700px) {
  .side-bar-wraper {
    width: 8rem;
  }

  .sidebar-title {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 360px) {
  .side-bar-wraper {
    width: 100vw;
    height: 4rem;
  }

  .side-bar {
    flex-direction: row;
    margin-top: 0;
    align-items: center;
  }

  .sidebar-title {
    margin-bottom: 0;
  }

  .active {
    bottom: 0.12rem;
    left: 0.1rem;
  }

  .non-active {
    bottom: 0.12rem;
  }

  .sidebar-title {
    margin-left: 0.9rem;
  }

  .sidebar-title:nth-child(1) {
    margin-left: 0;
  }
}
