.side-bar {
  max-width: 15rem;
  height: 100vh;
  background-color: rgba(207, 93, 93, 0.521);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3rem;
  padding: 0 5rem;
  padding-top: 1.3rem;
}

.sidebar-title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgb(1, 41, 87);
  cursor: pointer;
}

.title {
  position: relative;
  bottom: 0.17rem;
  left: 0.2rem;
  color: white;
  font-weight: bold;
}
